player-connection-mode=Listen
player-connection-guid=652382055
player-connection-debug=0
player-connection-project-name=HiuShootingGame
player-connection-ip=25.33.220.16
player-connection-ip=192.168.0.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
